<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rhkdd.yunal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="1dbe67c22d9d6f9c889b8712b8eb69d0" />
        <meta-data
            android:name="com.kakao.sdk.kakaonavi.useWebView"
            android:value="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAwLH3gtDBW90Y2_A_JqVoUH17PC6tcnyk" />

        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SearchResultActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".IntroductoryInfoActivity" />
        <activity android:name=".DetailImageActivity" />
        <activity android:name=".DetailImageSliderActivity" />
        <activity android:name=".GoogleMapActivity" />
        <activity
            android:name=".ReviewActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".LocationBasedListActivity" />
        <activity android:name=".SelectAreaActivity" />
        <activity android:name=".SelectAreaResultActivity" />
        <activity android:name=".CurrentLocationActivity" />
        <activity android:name=".TotalFestivalActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".TotalReviewActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReportActivity" />
        <activity android:name=".CommentActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>